body{
    overflow-x: hidden;
    min-height: 100vh;
    scroll-behavior: smooth;
}
#side_nav{
    height:100vh;
    min-width: 250px;
    max-width:250px;
    transition: all 0.3s;
    margin-top: 80px;
    z-index: 1;
    top: 0;
    left: 0;
}
.head i{
    font-size:20px;
    font-weight: 400;
    
}
.sidebar li a{
    color: #000;
    font-size:large;
}
.sidebar li.active{
    background-color: white;
}
.sidebar li.active{
    background-color: white;
}
.sidebar li.active a,.sidebar li.active a:hover{
    color: #000;
}
.collapse form{
    position: absolute;
    left: 6pc;
}
nav ul li .nav-link{
    color: #000;
}
.sidebar ul li img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.sidebar ul li span{
    font-size: medium;
}
.content .navbar{
    z-index: -1;
}
.gallery{
    width:calc(100% - 250px);
    position: relative;
    top:8pc;
    /* left:8pc; */
}
.gallery img{
    max-width: 100%;
}

@media screen and (max-width:767px) {
    #side_nav{
        margin-left: -250px;
        position: fixed;
        margin-top:0px;
        z-index:1;
    }
    #side_nav.active{
        margin-left: 0;
    }
    .gallery{
        width: 100%;
        position: relative;
        
    }
    
}